body{
    background-color: orange;
    width: 980px;
    margin-top:20px;
margin-left:auto;
    margin-right:auto;
}
ul.nav{
    list-style: none;
    float:left;


}

p{

    text-align: center;
}


h4{

    margin: 5px 0 20px 0;
}
ul.nav a{
    text-decoration: none;
}
.nav li{
    float: left;
    margin: 0 0 0 5px; /*solo queremos un lado esa seria la forma abreviada*/
}
.nav li a{
    padding: 5px    15px;/*lo que esta por dentro del borde es el padding*/ /* 5 arriba y abajo y 15 izq derech*/
    font-weight: bold;
    color: #ccc; /* no todos los navegadores pillan el 2 tipo declarado por ello necesitamos hacer un caso base primero*/
    color: white;/* para el nivel de transparencia*/
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
    border-radius: 14px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.nav li a:hover,
.nav li a:focus {
    color: black;

}
.nav a:active{
    color:black;

}
div#nav2{

    margin-top: 50px;
    padding-top: 4%;


}
div#izquierda{
    width: 625px;

}


.noticias{
    display: inline-flex;


}

.noticias2{
    display: inline-flex;
}

.nostyle{
    display: inline;
}

.auto{
    margin-right: 3%;
    float: left;
    display: list-item;
    list-style: none;
}

.auto1{
    float: left;
    display: list-item;
    list-style: none;
    margin-bottom: 5%;



}

.auto2 {
    margin-left: 10px;
    display: inline-block;
    list-style: none;






}

a.tam{
    font-size: 18px;

}

img.tam{
    width: 200px;
    height: 85px;
    padding: 0 2px 0 2px ;
}
img.tamg{
    width: 294px;
    height: 96px;

}

#contenido{
    background-color: #FFFFFF;
    width: 980px;
    display: inline-flex;
    border: 1px solid black;



}

#lateral{
    width: 330px;
    height: auto;
    border: 1px solid black ;
    border-radius: 7px;
    border: dotted;
    border-right: hidden;
    border-top: hidden;

    padding-left: 8px;
    margin: 50px 0 0 -1px;

    float: left;



}

#principal{

    padding-left: 20px;
    margin:50px 0 18px 0 ;



}

.titulo{
    background-color: black;
    border-radius: 5px;

    color: white;
    margin: 0px -16px  8px  -21px ;
    padding-left: 3px;
}