body{
    background-color: orange;
    width: 760px;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
}
ul.nav{
    list-style: none;
    float:left;

    padding: 0;
    margin:0;
    border:0;
}
ul.nav a{
    text-decoration: none;
}
.nav li{
    float: left;
    margin: 0 0 0 5px; /*solo queremos un lado esa seria la forma abreviada*/
}
.nav li a{
    padding: 5px    15px;/*lo que esta por dentro del borde es el padding*/ /* 5 arriba y abajo y 15 izq derech*/
    font-weight: bold;
    color: #ccc; /* no todos los navegadores pillan el 2 tipo declarado por ello necesitamos hacer un caso base primero*/
    color: white;/* para el nivel de transparencia*/
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
    border-radius: 14px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.nav li a:hover,
.nav li a:focus {
    color: black;
   /* background: rgba(255,255,255,.15);*/
}
.nav a:active{
    color:black;

}
div#nav2{

    margin-top: 50px;
    padding-top: 4%;

}

.noticias{
    display: inline-flex;
}

.nostyle{
    display: inline;
}

.auto{
    margin-right: 3%;
    float: left;
}

.auto2{
    margin-left: 20%;

}
